apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: {{ target_ns }}
  name: jenkins-deploy-role
rules:
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: [""]
  resources: ["services", "pods"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: {{ target_ns }}
  name: jenkins-deploy-binding
subjects:
- kind: ServiceAccount
  name: jenkins-deployer
  namespace: jenkins  # SA 所在的固定命名空间
roleRef:
  kind: Role
  name: jenkins-deploy-role
  apiGroup: rbac.authorization.k8s.io